doctype html
html
  head
    title My First Web App

    style.
      .red {
        color: red;
      }

      #title {
        font-style: italic;
      }

  body
    h1 My First Web App

    block content