extends default

block content
  form(action="/users", method="POST")
    input(type="text", placeholder="Name", name="name")
    input(type="number", placeholder="Age", name="age")
    button(type="submit") Add
  
  table
    thead
      th Name
      th Age
    
    tbody
      each user in users
        tr
          td: a(href=`/about/${user.name}`)= user.name
          td= user.age